.dimScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: 0.5;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  z-index: 101;
}
.signal {
  border: 15px solid #fff;
  border-radius: 30px;
  height: 130px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 130px;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.search-results.table {
  margin-bottom: 20px;
}

.search-results.cell {
  display: flex;
  align-items: center;
  padding-left: 5px;
  white-space: nowrap;
}

.search-results.cell.header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.search-results.cell.header.cart {
  cursor: text;
}

.search-results.cell span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results.observation-header {
  background-color: #f2fffb;
  border-bottom: 1px solid lightgray;
  border-top: 2px solid lightgray;
}

.search-results.file-row-even {
  background-color: rgb(245, 245, 245);
}

.search-results.file-row-odd {
  background-color: white;
}

.ReactVirtualized__Grid {
  outline: none;
}

.styles_modal__gNwvD {
  max-width: 1224px;
  width: 100%;
}

.cart-table {
  border: 2px solid hsl(0, 0%, 86%);
}

.cart-buttons-section {
  width: 400px;
}

.fixed-header {
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed-header tbody {
  display: block;
  overflow: auto;
  height: 600px;
}

.fixed-header thead tr {
  display: inherit;
}

.fixed-header-button {
  width: 100px;
  padding: 5px;
  text-align: left;
  height: 45px;
  display: inline-block;
  overflow: hidden;
}

.fixed-header-rest {
  width: 338px;
  padding: 5px;
  text-align: left;
  height: 45px;
  display: inline-block;
  overflow: hidden;
}

.column-group-selector:not(:first-child) {
  margin-top: 1em;
}
.request-pending {
  font-style: italic;
}
